<body>
<% if t==1||t==3 %>
<form action="confirmpassword" method="post">
<h5>Enter the old password to proceed </h5>
<input type="password" name="password">
<% if t==3 %>
<h6>Wrong Old Password</h6>
<% end %>
<button type="submit">Submit</button>
</form>
<% end %>
<% if t==2||t==4 %>
<h5>Enter new password </h5>
<form action="changepassword" method="post">
<input type="password" name="password">
<button type="submit">Submit</button>
</form>
<% if t==4 %>
<h6>your password has been successfully changed</h6>
<% end %>
<% end %>
<a href='/'>Back</a>
</body>
<style >
body
{
	background-color:  #5dade2 
}
</style>