<body>
<h1>Welcome to the to-do app</h1>
<form action="/login" method="POST">
<input type="text" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<button type="submit">Submit</button>
<% if t==0 %>
<%= "wrond email id and password" %>
<% end %>
</form> 
</body>
<a href="/signup"> <h4>Sign up now</h4> </a>
<style >
body
{
background-color:#f7dc6f 

}
</style